{
  "extends": "airbnb-base",
  "rules": {
    "no-unused-vars": "warn",
    "consistent-return": "off",
    "no-console": "off",
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ]
  }
}